.box {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 2em;
    max-width: 1000px;
    margin: 50px auto;
}

body {
    background-color: #fff;
}

.everything {
    min-height: 100vh;
    background-image: url('./assets/stacked-peaks-haikei.svg');
    background-size: cover;
    padding: 1em;
}

.recruiter-leaderboard {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 2em;
    margin: 1em auto;
    white-space: pre-line;
}

.recruiter-leaderboard th {
    text-align: center;
    background-color: #e32121;
    border-bottom: 3px solid black;

}

.recruiter-leaderboard th,
td {
    padding: 1em;
}

.recruiter-leaderboard td {
    border-bottom: 1px solid black;

}

.recruitermain {
    min-height: 100vh;
    background-image: url('./assets/stacked-steps-haikei.svg');
    background-size: cover;
    padding: 1em;
}

.center {
    text-align: center;
}