.box {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 2em;
    max-width: 1000px;
    margin: 50px auto;
}

body {
    background-color: #fff;
}

.everything {
    background-image: url('./assets/stacked-peaks-haikei.svg');
    background-size: cover;
    padding: 1em;
}